/* Template styling */

:root {
  --primary-color: rgb(183, 73, 0, 255);
}

/* Main CSS */
html,
body {
  margin: 0;
  background: url("../images/background.jpeg") repeat;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "container container container"
    "footer footer footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 50px;
}

nav {
  grid-area: menu;
  height: 60px;
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: rgb(183, 73, 0, 255);
  display: flex;
  align-items: center;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(247, 8, 8);
}

#container {
  grid-area: container;
  background-color: rgba(14, 14, 14, 0.5);
  padding: 20px;
  color: white;
}

#container.main-page {
  background-color: transparent;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

a.active:hover {
  text-decoration: none;
}

/* Personal CSS */
input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(225, 224, 228);
  border: 1px solid rgb(124, 53, 53);
  border-radius: 5px;
  height: 30px;
  flex: 1 0;
  margin: 0 25px;
  animation: search-blink 5s infinite;
}

.gif-image {
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.to-upload {
  font-size: 55px;
  display: inline-block;
  margin-left: 150px;
}

button#btn {
  background-color: rgba(250, 235, 215, 0);
  color: white;
  width: 250px;
  font-size: 30px;
  margin-left: 0 auto;
  display: inline-block;
}

#search-button {
  background-color: #e07014;
  border: none;
  color: white;
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.single-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  max-width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite:hover {
  cursor: pointer;
}
.favorite {
  font-size: 30px;
}

.viz {
  background-color: rgba(250, 235, 215, 0);
  color: white;
  width: 350px;
  font-size: 30px;
  margin-left: 0 auto;
  display: inline-block;
}

.single-gif .details {
  padding: 0 10px;
  font-size: 13px;
  display: inline-grid;
}

.detailed-row {
  margin-top: 5px;
}

#uploaded {
  display: flex;
  font-size: 30px;
  margin-top: 40px;
}

#input-file {
  background-color: rgba(250, 235, 215, 0);
  font-size: 20px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  color: white;
  background-color: rgba(250, 235, 215, 0);
}

.home {
  padding-top: 27px;
}

.gif-info {
  position: absolute;
  width: 200px;
  height: 200px;
  background: indianred;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
}

.gif-info:hover {
  cursor: pointer;
}

.gif-info .details-title {
  display: block;
  font-weight: bold;
}

.detailed-gif-text {
  text-align: center;
}

.home-title {
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 1000;
}

.home-gif {
  display: flex;
  justify-content: center;
  border-radius: 173px;
  height: 386px;
}

.paging-menu {
  display: flex;
  justify-content: center;

}

.search-page,
.page {
  background-color: #e07014;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
